* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    ;
}

body {
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/*header*/

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    >h1 {
        width: 90%;
        height: 20vh;
        background-image: linear-gradient(to left, #cd9cf2 0%, #e8e3f8 100%);
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        color: rgb(45, 41, 41);


    }

    >.resetStudent {
        display: flex;
        gap: 10px;


        >* {}

        >input {
            width: 200px;
            height: 60px;
            padding: 10px;
            border-radius: 15px;
            margin: 10px;
            background-image: linear-gradient(to top, #cd9cf2 0%, #e8e3f8 100%);
            border: #cd9cf2;
            font-weight: 600;
            cursor: pointer;
            font-size: 18px;
        }
    }
}

/* end header*/

/* forms  */
.forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.studentForm {
    width: 33%;

    border: 1px solid black;
    margin: 20px;
    border-radius: 15px;
    background: #c7b8ea;

    >h2 {
        font-size: 30px;
        color: rgb(59, 56, 55);
        padding: 10px;
    }

}

.studentForm label {
    font-size: 20px;
    font-weight: 600;
    color: rgb(59, 55, 57);
    padding: 10px;
}


.studentForm input[type="text"] {
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.studentForm .submitAv button {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    color: rgb(59, 56, 55);
    background-color: #e8e3f8;
    border: none;
    cursor: pointer;
}


/* class avrage  */
.avrageOfClass {
    width: 600px;
    height: 150px;
    background-color: #c7b8ea;
    border: 1px solid black;
    border-radius: 15px;
    margin: 100px auto;

    >* {}

    >.buttonAv {
        width: 200px;
        height: 50px;
        border-radius: 15px;
        background-image: linear-gradient(to top, #cd9cf2 0%, #e8e3f8 100%);
        color: black;
        font-size: 17px;
        display: block;
        margin: 10px auto;
        cursor: pointer;
    }

    >#classAverage {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        display: block;
        margin: 10px auto;
    }

}